<%# 3-12 | Hirohito Mizuno, Casey Black, Hector Casablanca, Karie Ward %>
<%# We show the logged in user name and logout button here at the top bar. %>
<% if (isLoggedIn) { %>
  <div class="user-bar">
    <span class="user-chip">
      Logged in as <strong><%= Username %></strong>
    </span>
    <a href="/logout" class="btn secondary-btn">Logout</a>
  </div>
<% } %>
