<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">

  <meta charset="utf-8">
  <title>Check your email</title>
</head>
<body>
  <% if (info && info.length) { %>
    <div class="alert alert-info"><%= msg %></div>
  <% } else { %>
    <p>Please check your email for the verification link.</p>
  <% } %>

  <% if (error && error.length) { %>
    <div class="alert alert-error"><%= msg %></div>
  <% } %>

  <p>If you did not receive an email, verify that you used the correct address and try signing up again.</p>
</body>
</html>
