<%# 3-12 | Hirohito Mizuno, Casey Black, Hector Casablanca, Karie Ward %>
<%# We show this page after sign up to remind user to check their email for verification. %>
<!DOCTYPE html>
<html>
<head>
  <title>Check your email</title>
  <%- include('partials/head') %>
</head>
<body>
  <div class="page-card narrow">
    <% if (info && info.length) { %>
      <div class="alert alert-info">
        <% info.forEach(function(msg) { %>
          <p><%= msg %></p>
        <% }); %>
      </div>
    <% } else { %>
      <p>Please check your email for the verification link.</p>
    <% } %>

    <% if (error && error.length) { %>
      <div class="alert alert-error">
        <% error.forEach(function(msg) { %>
          <p><%= msg %></p>
        <% }); %>
      </div>
    <% } %>

    <p>If you did not receive an email, verify that you used the correct address and try signing up again.</p>
  </div>
</body>

</html>
