<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Check your email</title>
</head>
<body>
  <% if (info && info.length) { %>
    <div style="color: blue;">
      <% info.forEach(function(msg) { %>
        <p><%= msg %></p>
      <% }); %>
    </div>
  <% } else { %>
    <p>Please check your email for the verification link.</p>
  <% } %>

  <% if (error && error.length) { %>
    <div style="color: red;">
      <% error.forEach(function(msg) { %>
        <p><%= msg %></p>
      <% }); %>
    </div>
  <% } %>

  <p>If you did not receive an email, verify that you used the correct address and try signing up again.</p>
</body>
</html>
